<footer class="text-muted">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <p>
        <a href="https://kolesa.ru" class="logo">
          <img src="/assets/images/logo-grey.svg">
        </a>
        </p>
      </div>
      <div class="col-10">
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <span>
          © 2003-{{ anio }} Все права защищены
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <span>
          Заглавное изображение: <a href="https://pixabay.com/users/chrisreadingfoto-2723427/" style="color:#ffffff">chrisreadingfoto</a>
        </span>
      </div>
    </div>
    <div class="row">
        <div class="col-4">
          <span>
            Иконки: <a href="https://www.flaticon.com/authors/dario-ferrando" style="color:#ffffff">Dario Ferrando</a>
          </span>
        </div>
      </div>
  </div>
</footer>
