    <div class="view" style="margin-top:0px; background-image: url(/assets/images/background.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <div class="mask rgba-green-strong">
        <div class="container">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 mb-4 text-center">
              <br />
              <h1><strong>Отзывы о надёжности автомобилей</strong></h1>
              <h6>Мы собираем данные о поломках и ремонте машин. Только цифры и факты, ничего лишнего.</h6>
              <br />
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
            <div class="col-md-8">
              <br />
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Искать поломку, марку или модель...">
                  <span class="input-group-btn">
                    <button class="btn btn-red" type="button">
                        <img src="/assets/images/search.png" style="padding-bottom:2px">
                    </button>
                  </span>
                </div>
                <br />
            </div>
          <div class="col-md-2"></div>
        </div>
        <div class="row" style="margin-top: 25px">
          <div class="col-md-6">
            <h4>Последние записи о ремонте</h4>
            <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                <button class="btn btn-red" style="margin-right: 5px; margin-left:15px">+ Добавить свою</button>
            </div>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Автомобиль</th>
                    <th scope="col">Текущий пробег</th>
                    <th scope="col">Что делали</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="#">Opel Astra H</a></td>
                    <td>165 000</td>
                    <td><a href="#">Замена ступичного подшипника</a></td>
                  </tr>
                  <tr>
                    <td><a href="#">BMW 5 series E39</a></td>
                    <td>347 000</td>
                    <td><a href="#">Замена компрессора кондиционера</a></td>
                  </tr>
                  <tr>
                    <td><a href="#">Renault Logan II</a></td>
                    <td>72 000</td>
                    <td><a href="#">Замена сайлентблоков задней балки</a></td>
                  </tr>
                  <tr>
                    <td><a href="#">Nissan Primera P12</a></td>
                    <td>220 000</td>
                    <td><a href="#">Замена вариатора в сборе</a></td>
                  </tr>
                  <tr>
                    <td><a href="#">Land Rover Range Rover L405</a></td>
                    <td>123 000</td>
                    <td><a href="#">Ремонт пневмобаллонов</a></td>
                  </tr>
                </tbody>
            </table>
          </div>
          <div class="col-md-6">
              <h4>Топ-5 ремонтов Mercedes-Benz CLK-Class C209</h4>
              <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                  <button class="btn btn-red" style="margin-right: 5px; margin-left:15px">Всё про эту машину</button>
                  <button class="btn btn-gray"><strong>Другой случайный Топ-5</strong></button>
              </div>
              <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Что делали</th>
                      <th scope="col">Средний пробег</th>
                      <th scope="col">Сколько записей</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td><a href="#">Ремонт привода крыши</a> </td>
                      <td>165 000</td>
                      <td>119</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td><a href="#">Ремонт генератора</a> </td>
                      <td>103 000</td>
                      <td>89</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td><a href="#">Замена блока розжига фары</a> </td>
                      <td>72 000</td>
                      <td>54</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td><a href="#">Замена накладки гидротрансформатора АКП</a> </td>
                      <td>122 000</td>
                      <td>41</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td><a href="#">Замена крышки расширительного бачка</a> </td>
                      <td>53 000</td>
                      <td>39</td>
                    </tr>
                  </tbody>
              </table>
            </div>
        </div>

        <!-- <div class=row>
          <div id="container">
            <div
              ng2-carouselamos
              class="slides-wrapper"
              [items]="reports"
              [width]="850"
              [$prev]="prev"
              [$next]="next"
              [$item]="item"
            >
            </div>
            <ng-template #prev>
              <img src="assets/images/back.svg" id="left" />
            </ng-template>
            <ng-template #next>
              <img src="assets/images/next.svg" id="right" />
            </ng-template>
            <ng-template #item let-item let-i="index">
              <div class="slide-items">
                <img src="{{ item.name }}">
                <span>{{item.title}}</span>
              </div>
            </ng-template>
          </div>
        </div> -->

        <div class="row" style="margin-top: 25px">
          <div class="col-md-12 text-center">
            <h4>Отзывы по маркам</h4>
          </div>
        </div>
        <div class = "row">
          <div class = "col-3">
           <ul *ngFor=" let make of makelist;  let i=index" style="list-style-type:none">
             <li *ngIf="i>0 && i<9"><a href="#">{{make}}</a></li>
           </ul>
          </div>
          <div class = "col-3">
           <ul *ngFor=" let make of makelist;  let i=index" style="list-style-type:none">
             <li *ngIf="i>9 && i<18"><a href="#">{{make}}</a></li>
           </ul>
          </div>
          <div class = "col-3">
            <ul *ngFor=" let make of makelist;  let i=index" style="list-style-type:none">
              <li *ngIf="i>18 && i<27"><a href="#">{{make}}</a></li>
            </ul>
          </div>
          <div class = "col-3">
            <ul *ngFor=" let make of makelist;  let i=index" style="list-style-type:none">
              <li *ngIf="i>27 && i<36"><a href="#">{{make}}</a></li>
            </ul>
          </div>
        </div>
        <div class = "row" style = "margin-top: 10px; margin-bottom: 10px">
            <div class="col-md-12 text-center">
                <button class="btn btn-gray" type="button">
                  Все марки
                </button>
            </div>
        </div>
    </div>
