    <div class="view" style="margin-top:0px; background-image: url(/assets/images/background.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <div class="mask rgba-green-strong">
        <div class="container">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 mb-4 text-center">
              <br />
              <h1 style="text-shadow: 1px 1px 4px white"><strong>Отзывы о надёжности автомобилей</strong></h1>
              <h6 style="text-shadow: 1px 1px 4px white">Мы собираем данные о поломках и ремонте машин. Только цифры и факты, ничего лишнего.</h6>
              <br />
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
            <div class="col-md-8">
              <br />
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Искать марку или модель...">
                  <span class="input-group-btn">
                    <button class="btn btn-red" type="button">
                        <img src="/assets/images/search.png" style="padding-bottom:2px">
                    </button>
                  </span>
                </div>
                <br />
            </div>
          <div class="col-md-2"></div>
        </div>
        <div class="row" style="margin-top: 25px">
          <div class="col-md-6">
            <h4>Последние записи о ремонте</h4>
            <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                <button class="btn btn-red" style="margin-right: 5px; margin-left:15px"><a href="/addreport" style="color:white">+ Добавить свою запись</a></button>
            </div>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Автомобиль</th>
                    <th scope="col">Пробег</th>
                    <th scope="col">Что делали</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="#">Opel Astra H</a></td>
                    <td>165 000</td>
                    <td><a href="#">Замена ступичного подшипника</a></td>
                  </tr>
                  <tr>
                    <td><a href="#">BMW 5 series E39</a></td>
                    <td>347 000</td>
                    <td><a href="#">Замена компрессора кондиционера</a></td>
                  </tr>
                  <tr>
                    <td><a href="#">Renault Logan II</a></td>
                    <td>72 000</td>
                    <td><a href="#">Замена сайлентблоков задней балки</a></td>
                  </tr>
                  <tr>
                    <td><a href="#">Nissan Primera P12</a></td>
                    <td>220 000</td>
                    <td><a href="#">Замена вариатора в сборе</a></td>
                  </tr>
                  <tr>
                    <td><a href="#">Land Rover Range Rover L405</a></td>
                    <td>123 000</td>
                    <td><a href="#">Ремонт пневмобаллонов</a></td>
                  </tr>
                </tbody>
            </table>
          </div>
          <div class="col-md-6">
              <h4>Топ-5 поломок Mercedes-Benz CLK-Class C209</h4>
              <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                  <button class="btn btn-red" style="margin-right: 5px; margin-left:15px"><a href="/generations" style="color:white">Всё про эту машину</a></button>
                  <button class="btn btn-white"><span style="color: #c50005">Другой случайный Топ-5</span></button>
              </div>
              <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Что делали</th>
                      <th scope="col">Пробег</th>
                      <th scope="col">Ззаписей</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td><a href="#">Ремонт привода крыши</a> </td>
                      <td>165 000</td>
                      <td>119</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td><a href="#">Ремонт генератора</a> </td>
                      <td>103 000</td>
                      <td>89</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td><a href="#">Замена блока розжига фары</a> </td>
                      <td>72 000</td>
                      <td>54</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td><a href="#">Замена накладки гидротрансформатора АКП</a> </td>
                      <td>122 000</td>
                      <td>41</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td><a href="#">Замена крышки расширительного бачка</a> </td>
                      <td>53 000</td>
                      <td>39</td>
                    </tr>
                  </tbody>
              </table>
            </div>
        </div>
      </div>

        <div class="row" style="background-color: rgb(243, 243, 243); max-width: 100%;">
            <div class="container">
              <div class="row" style="margin-top: 20px; margin-bottom: 15px">
                  <div class="col-md-12 text-center">
                     <h3>Топ плюсов и минусов Nissan Almera Classic</h3>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12 text-center">
                    <p>
                      Фильтровать:
                      <span class="btn-group">
                          <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-white btn-sm" style="margin-bottom: 1em; margin-top: 0.5em; margin-left:0.2em; margin-right:0.2em" id="dropdownBasic1" ngbDropdownToggle>По категории</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button ngbDropdownItem>Ходовые качества</button>
                              <button ngbDropdownItem>Салон</button>
                              <button ngbDropdownItem>Надежность</button>
                              <button ngbDropdownItem>Прочее</button>
                            </div>
                          </div>
                      </span>
                    </p>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 10px">
                  <div class="col-1"></div>
                    <div class="col-5" style="background-color: white; margin-left: 5px; margin-right: 5px; margin-bottom: 10px; padding: 10px">
                        <table class="table table-borderless table-sm table-hover">
                            <tbody>
                                <tr>
                                  <td scope="row">#1</td>
                                  <td scope="row"><a href="#">Стоимость запчастей</a></td>
                                  <td scope="row">Надёжность</td>
                                  <td align="right"><img src="../../assets/images/thumbs-up-24.png">243</td>
                                </tr>
                                <tr>
                                  <td scope="row">#2</td>
                                  <td scope="row"><a href="#">Стойкость к коррозии</a></td>
                                  <td scope="row">Надёжность</td>
                                  <td align="right"><img src="../../assets/images/thumbs-up-24.png">199</td>
                                </tr>
                                <tr>
                                  <td scope="row">#3</td>
                                  <td scope="row"><a href="#">Простота</a></td>
                                  <td scope="row">Надёжность</td>
                                  <td align="right"><img src="../../assets/images/thumbs-up-24.png">167</td>
                                </tr>
                                <tr>
                                  <td scope="row">#4</td>
                                  <td scope="row"><a href="#">Ресурсный двигатель</a></td>
                                  <td scope="row">Надёжность</td>
                                  <td align="right"><img src="../../assets/images/thumbs-up-24.png">132</td>
                                </tr>
                                <tr>
                                  <td scope="row">#5</td>
                                  <td scope="row"><a href="#">Дорожный просвет</a></td>
                                  <td scope="row">Ходовые качества</td>
                                  <td align="right"><img src="../../assets/images/thumbs-up-24.png">110</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-5" style="background-color: white; margin-left:5px; margin-right: 5px; margin-bottom: 10px; padding: 10px">
                        <table class="table table-borderless table-sm table-hover">
                            <tbody>
                                <tr>
                                  <td scope="row">#1</td>
                                  <td scope="row"><a href="#">Низкая мощность</a></td>
                                  <td scope="row">Ходовые качества</td>
                                  <td align="right"><img src="../../assets/images/thumbs-down-24.png">211</td>
                                </tr>
                                <tr>
                                    <td scope="row">#2</td>
                                    <td scope="row"><a href="#">Дешевый пластик</a></td>
                                    <td scope="row">Салон</td>
                                    <td align="right"><img src="../../assets/images/thumbs-down-24.png">182</td>
                                </tr>
                                <tr>
                                    <td scope="row">#3</td>
                                    <td scope="row"><a href="#">Шумоизоляция</a></td>
                                    <td scope="row">Салон</td>
                                    <td align="right"><img src="../../assets/images/thumbs-down-24.png">159</td>
                                </tr>
                                <tr>
                                    <td scope="row">#4</td>
                                    <td scope="row"><a href="#">Ватные тормоза</a></td>
                                    <td scope="row">Ходовые качества</td>
                                    <td align="right"><img src="../../assets/images/thumbs-down-24.png">127</td>
                                </tr>
                                <tr>
                                    <td scope="row">#5</td>
                                    <td scope="row"><a href="#">Плохая управляемость</a></td>
                                    <td scope="row">Ходовые качества</td>
                                    <td align="right"><img src="../../assets/images/thumbs-down-24.png">90</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                  <div class="col-1"></div>
                </div>
              <div class="row" style="margin-bottom: 20px">
                  <div class="col-12 text-center">
                      <button class="btn btn-red" style="margin-right: 5px; margin-left:15px"><a href="/addreport" style="color:white">+ Оценить свою машину</a></button>
                      <button class="btn btn-white"><span style="color: #c50005">Другой случайный Топ</span></button>
                  </div>
              </div>
            </div>
          </div>

      <div class="container">
        <div class="row" style="margin-top: 25px; margin-bottom: 10px">
          <div class="col-md-12 text-center">
            <h3>Отзывы по маркам</h3>
          </div>
        </div>
        <div class = "row">
          <div class = "col-3">
           <ul *ngFor=" let make of makelist;  let i=index" style="list-style-type:none">
             <li *ngIf="i>0 && i<6"><a href="/makes">{{make.make}} ({{make.reports}})</a></li>
           </ul>
          </div>
          <div class = "col-3">
           <ul *ngFor=" let make of makelist;  let i=index" style="list-style-type:none">
             <li *ngIf="i>6 && i<12"><a href="/makes">{{make.make}} ({{make.reports}})</a></li>
           </ul>
          </div>
          <div class = "col-3">
            <ul *ngFor=" let make of makelist;  let i=index" style="list-style-type:none">
              <li *ngIf="i>12 && i<18"><a href="/makes">{{make.make}} ({{make.reports}})</a></li>
            </ul>
          </div>
          <div class = "col-3">
            <ul *ngFor=" let make of makelist;  let i=index" style="list-style-type:none">
              <li *ngIf="i>18"><a href="/makes">{{make.make}} ({{make.reports}})</a></li>
            </ul>
          </div>
        </div>
        <div class = "row" style = "margin-top: 10px; margin-bottom: 10px">
            <div class="col-md-12 text-center">
                <button class="btn btn-white" type="button">
                   <span style="color: #c50005">Все марки</span>
                </button>
            </div>
        </div>
      </div>

    <div class="row" style="background-color: rgb(243, 243, 243); max-width: 100%; margin-top: 2em;">
      <div class="container">
        <div class="row" style="margin-top: 1em; margin-bottom: 1em">
            <div class="col-md-12 text-center">
              <h3>Последние отзывы</h3>
            </div>
        </div>
        <div class="row" style="margin-bottom: 2em">
          <div class="col-3">
              <div class="card text-center">
                <div class="card-body" style="padding: 0.2em">
                  <img src="/assets/images/c4.png" style="max-width: 100%; height: auto;">
                  <a href="/reports"><h5>Citroen C4 I</h5></a>
                  <p>2007, Санкт-Петербург</p>
                 </div>
              </div>
          </div>
          <div class="col-3">
              <div class="card text-center">
                <div class="card-body" style="padding: 0.2em">
                  <img src="/assets/images/cayenne.jpg" style="max-width: 100%; height: auto;">
                  <a href="/reports"><h5>Porsche Cayenne 958</h5></a>
                  <p>2010, Москва</p>
                </div>
              </div>
          </div>
          <div class="col-3">
              <div class="card text-center">
                <div class="card-body" style="padding: 0.2em">
                  <img src="/assets/images/nexia.jpg" style="max-width: 100%; height: auto;">
                  <a href="/reports"><h5>Daewoo Nexia</h5></a>
                  <p>2012, Казань</p>
                </div>
              </div>
          </div>
          <div class="col-3">
              <div class="card text-center">
                <div class="card-body" style="padding: 0.2em">
                  <img src="/assets/images/transit.jpg" style="max-width: 100%; height: auto;">
                  <a href="/reports"><h5>Ford Transit VI</h5></a>
                  <p>2006, Саратов</p>
                </div>
              </div>
          </div>


        </div>
        <div class="row" style="margin-bottom: 2em">
          <div class="col-12 text-center">
              <button class="btn btn-white"><span style="color: #c50005; margin:5px">Показать ещё</span></button>
          </div>
        </div>
    </div>
  </div>
