<div class="container">

    <div class="row">
        <div class="col-12">
          <p>
              <a href="#">Отзывы</a> > <a href="/makes">Audi</a> > <a href="/models">A8</a> > D5
          </p>
        </div>
    </div>

  <div class="row">
    <div class="col-12" style="padding-bottom: 1em">
        <h2>Отзывы и поломки Audi A8 D5
        </h2>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
        <h4>Что ломается:</h4>
    </div>
  </div>

  <div class="row">
      <div class="col-md-5">
        <p>
         Сортировать:
            <span class="btn-group">
              <button class="btn btn-red btn-sm" style="margin-bottom: 1em; margin-top: 0.5em; margin-left:0.5em;">
                По количеству записей
              </button>
              <button class="btn btn-white btn-sm" style="margin-bottom: 1em; margin-top: 0.5em;">
                По пробегу
              </button>
              <button class="btn btn-white btn-sm" style="margin-bottom: 1em; margin-top: 0.5em; margin-right:0.5em;">
                По цене
              </button>
            </span>
        </p>
    </div>
    <div class="col-7">
      <p>
        Фильтровать:
        <span class="btn-group">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-white btn-sm" style="margin-bottom: 1em; margin-top: 0.5em; margin-left:0.2em; margin-right:0.2em" id="dropdownBasic1" ngbDropdownToggle>По модификации</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>3.0 TDI (249 л.с.) 8AT 4x4</button>
                <button ngbDropdownItem>3.0 TFSI (340 л.с.) 8AT 4x4</button>
                <button ngbDropdownItem>4.0 TFSI (460 л.с.) 8AT 4x4</button>
              </div>
            </div>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-white btn-sm" style="margin-bottom: 1em; margin-top: 0.5em; margin-left:0.2em; margin-right:0.2em" id="dropdownBasic1" ngbDropdownToggle>По категории</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Двигатель</button>
                <button ngbDropdownItem>Транмиссия</button>
                <button ngbDropdownItem>Ходовая часть</button>
                <button ngbDropdownItem>Электрика</button>
                <button ngbDropdownItem>Кузов</button>
                <button ngbDropdownItem>Салон</button>
              </div>
            </div>
        </span>
      </p>
    </div>
  </div>


  <div class="row">
      <div class="col-md-12">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Модификация</th>
                <th scope="col">Категория</th>
                <th scope="col">Что делали</th>
                <th scope="col">Средний пробег</th>
                <th scope="col">Средняя цена</th>
                <th scope="col">Сколько записей</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>3.0 TDI (249 л.с.) 8AT 4x4</td>
                <td>Кузов, крыша</td>
                <td><a href="#">Ремонт привода крыши</a> </td>
                <td>165 000</td>
                <td>43000</td>
                <td>119</td>
              </tr>
              <tr>
                <td>2</td>
                <td>3.0 TDI (249 л.с.) 8AT 4x4</td>
                <td>Двигатель, навесное оборудование</td>
                <td><a href="#">Ремонт генератора</a> </td>
                <td>103 000</td>
                <td>19000</td>
                <td>89</td>
              </tr>
              <tr>
                <td>3</td>
                <td>3.0 TDI (249 л.с.) 8AT 4x4</td>
                <td>Электрика, освещение</td>
                <td><a href="#">Замена блока розжига фары</a> </td>
                <td>72 000</td>
                <td>34000</td>
                <td>54</td>
              </tr>
              <tr>
                <td>4</td>
                <td>3.0 TDI (249 л.с.) 8AT 4x4</td>
                <td>Трансмиссия, АКП</td>
                <td><a href="#">Замена накладки гидротрансформатора АКП</a> </td>
                <td>122 000</td>
                <td>47000</td>
                <td>41</td>
              </tr>
              <tr>
                <td>5</td>
                <td>3.0 TDI (249 л.с.) 8AT 4x4</td>
                <td>Двигатель, система охлаждения</td>
                <td><a href="#">Замена крышки расширительного бачка</a> </td>
                <td>53 000</td>
                <td>1700</td>
                <td>39</td>
              </tr>
            </tbody>
        </table>
      </div>
  </div>
  <div class="row" style="margin-bottom: 20px">
    <div class="col-12 text-center">
        <button class="btn btn-white"><span style="color: #c50005; margin:5px">Показать ещё 10</span></button>
        <button class="btn btn-red" style="margin:5px">+ Добавить свои поломки</button>
    </div>
</div>
</div>


<div class="row" style="background-color: rgb(243, 243, 243); max-width: 100%;">
    <div class="container">
      <div class="row" style="margin-top: 20px; margin-bottom: 15px">
          <div class="col-md-12 text-center">
             <h3>Плюсы и минусы</h3>
          </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <p>
            Фильтровать:
            <span class="btn-group">
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-white btn-sm" style="margin-bottom: 1em; margin-top: 0.5em; margin-left:0.2em; margin-right:0.2em" id="dropdownBasic1" ngbDropdownToggle>По категории</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Ходовые качества</button>
                    <button ngbDropdownItem>Салон</button>
                    <button ngbDropdownItem>Надежность</button>
                    <button ngbDropdownItem>Прочее</button>
                  </div>
                </div>
            </span>
          </p>
        </div>
      </div>
      <div class="row" style="margin-bottom: 10px">
        <div class="col-1"></div>
          <div class="col-5" style="background-color: white; margin-left: 5px; margin-right: 5px; margin-bottom: 10px; padding: 10px">
              <table class="table table-borderless table-sm table-hover">
                  <tbody>
                      <tr>
                        <td scope="row">#1</td>
                        <td scope="row"><a href="#">Динамика разгона</a></td>
                        <td scope="row">Ходовые качества</td>
                        <td align="right"><img src="../../assets/images/thumbs-up-24.png">243</td>
                      </tr>
                      <tr>
                        <td scope="row">#2</td>
                        <td scope="row"><a href="#">Плавность хода</a></td>
                        <td scope="row">Ходовые качества</td>
                        <td align="right"><img src="../../assets/images/thumbs-up-24.png">199</td>
                      </tr>
                      <tr>
                        <td scope="row">#3</td>
                        <td scope="row"><a href="#">Управляемость</a></td>
                        <td scope="row">Ходовые качества</td>
                        <td align="right"><img src="../../assets/images/thumbs-up-24.png">167</td>
                      </tr>
                      <tr>
                        <td scope="row">#4</td>
                        <td scope="row"><a href="#">Шумоизоляция</a></td>
                        <td scope="row">Салон</td>
                        <td align="right"><img src="../../assets/images/thumbs-up-24.png">132</td>
                      </tr>
                      <tr>
                        <td scope="row">#5</td>
                        <td scope="row"><a href="#">Мультимедийная система</a></td>
                        <td scope="row">Салон</td>
                        <td align="right"><img src="../../assets/images/thumbs-up-24.png">110</td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <div class="col-5" style="background-color: white; margin-left:5px; margin-right: 5px; margin-bottom: 10px; padding: 10px">
              <table class="table table-borderless table-sm table-hover">
                  <tbody>
                      <tr>
                        <td scope="row">#1</td>
                        <td scope="row"><a href="#">Мотор ест масло</a></td>
                        <td scope="row">Надёжность</td>
                        <td align="right"><img src="../../assets/images/thumbs-down-24.png">211</td>
                      </tr>
                      <tr>
                          <td scope="row">#2</td>
                          <td scope="row"><a href="#">Пластик в салоне</a></td>
                          <td scope="row">Салон</td>
                          <td align="right"><img src="../../assets/images/thumbs-down-24.png">182</td>
                      </tr>
                      <tr>
                          <td scope="row">#3</td>
                          <td scope="row"><a href="#">Кожа на сидениях</a></td>
                          <td scope="row">Салон</td>
                          <td align="right"><img src="../../assets/images/thumbs-down-24.png">159</td>
                      </tr>
                      <tr>
                          <td scope="row">#4</td>
                          <td scope="row"><a href="#">Подвеска гремит</a></td>
                          <td scope="row">Ходовые качества</td>
                          <td align="right"><img src="../../assets/images/thumbs-down-24.png">127</td>
                      </tr>
                      <tr>
                          <td scope="row">#5</td>
                          <td scope="row"><a href="#">Дорожный просвет</a></td>
                          <td scope="row">Ходовые качества</td>
                          <td align="right"><img src="../../assets/images/thumbs-down-24.png">90</td>
                      </tr>
                  </tbody>
              </table>
          </div>
        <div class="col-1"></div>
      </div>
      <div class="row" style="margin-bottom: 20px">
          <div class="col-12 text-center">
              <button class="btn btn-white"><span style="color: #c50005; margin:5px">Показать ещё</span></button>
              <button class="btn btn-red" style="margin:5px">+ Оценить свою машину</button>
          </div>
      </div>
    </div>
  </div>

<div class="container">
    <div class="row" style="margin-top: 2em; margin-bottom: 1.5em">
      <div class="col-md-12 text-center">
        <h3>Последние отзывы Audi A8 D5</h3>
      </div>
    </div>
    <div class="row" style="margin-bottom: 2em">
      <div class="col-3">
          <div class="card text-center">
            <div class="card-body" style="padding: 0.2em">
              <img src="../../assets/images/a8d51.jpg" style="max-width: 100%; height: auto;">
              <a href="/reports"><h5>Audi A8 D5</h5></a>
              <p>2019, Москва</p>
            </div>
          </div>
      </div>
      <div class="col-3">
          <div class="card text-center">
            <div class="card-body" style="padding: 0.2em">
              <img src="../../assets/images/a8d52.jpg" style="max-width: 100%; height: auto;">
              <a href="/reports"><h5>Audi A8 D5</h5></a>
              <p>2018, Красноярск</p>
            </div>
          </div>
      </div>
      <div class="col-3">
          <div class="card text-center">
            <div class="card-body" style="padding: 0.2em">
              <img src="../../assets/images/a8d53.jpg" style="max-width: 100%; height: auto;">
              <a href="/reports"><h5>Audi A8 D5</h5></a>
              <p>2019, Санкт-Петербург</p>
            </div>
          </div>
      </div>
      <div class="col-3">
          <div class="card text-center">
            <div class="card-body" style="padding: 0.2em">
              <img src="../../assets/images/a8d54.png" style="max-width: 100%; height: auto;">
              <a href="/reports"><h5>Audi A8 D5</h5></a>
              <p>2018, Москва</p>
            </div>
          </div>
      </div>
  </div>
  <div class="row" style="margin-bottom: 2em">
    <div class="col-12 text-center">
        <button class="btn btn-white"><span style="color: #c50005; margin:5px">Показать ещё</span></button>
    </div>
  </div>
</div>


