<div class="view" style="margin-top:0px; background-image: url(/assets/images/background.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <div class="mask rgba-green-strong">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 mb-4 text-center">
          <br />
          <h1><strong>Отзывы владельцев Audi</strong></h1>
          <br />
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <button class="btn btn-red">+ Добавить отзыв</button>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-2"></div>
        <div class="col-md-8">
          <br />
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Искать поломку или модель...">
              <span class="input-group-btn">
                <button class="btn btn-red" type="button">
                    <img src="/assets/images/search.png" style="padding-bottom:2px">
                </button>
              </span>
            </div>
            <br />
        </div>
     <div class="col-md-2"></div>
  </div>


  <div class="row" style="margin-top: 25px; margin-bottom: 20px">
      <div class="col-md-12 text-center">
        <h3>Последние отзывы</h3>
      </div>
    </div>
    <div class="row">
    <div class="col-3">
      <img src="/assets/images/c4.png" style="max-width: 100%; height: auto;">
      <a href="#"><h5>Citroen C4 I</h5></a>
      <p>2007, Санкт-Петербург</p>
    </div>
    <div class="col-3">
        <img src="/assets/images/cayenne.jpg" style="max-width: 100%; height: auto;">
        <a href="#"><h5>Porsche Cayenne 958</h5></a>
        <p>2010, Москва</p>
    </div>
    <div class="col-3">
        <img src="/assets/images/nexia.jpg" style="max-width: 100%; height: auto;">
        <a href="#"><h5>Daewoo Nexia</h5></a>
        <p>2012, Казань</p>
    </div>
    <div class="col-3">
        <img src="/assets/images/transit.jpg" style="max-width: 100%; height: auto;">
        <a href="#"><h5>Ford Transit VI</h5></a>
        <p>2006, Саратов</p>
    </div>
  </div>


    <div class="row" style="margin-top: 25px; margin-bottom: 20px">
        <div class="col-md-12 text-center">
          <h3>Отзывы по моделям</h3>
        </div>
      </div>
      <div class = "row">
        <div class = "col-3">
          <ul *ngFor=" let model of modellist;  let i=index" style="list-style-type:none">
            <li *ngIf="i>0 && i<9"><a href="/models">{{model}}</a></li>
          </ul>
        </div>
        <div class = "col-3">
          <ul *ngFor=" let model of modellist;  let i=index" style="list-style-type:none">
            <li *ngIf="i>9 && i<18"><a href="/models">{{model}}</a></li>
          </ul>
        </div>
        <div class = "col-3">
          <ul *ngFor=" let model of modellist;  let i=index" style="list-style-type:none">
            <li *ngIf="i>18 && i<27"><a href="/models">{{model}}</a></li>
          </ul>
        </div>
        <div class = "col-3">
          <ul *ngFor=" let model of modellist;  let i=index" style="list-style-type:none">
            <li *ngIf="i>27 && i<36"><a href="/models">{{model}}</a></li>
          </ul>
        </div>
      </div>
      <div class = "row" style = "margin-top: 10px; margin-bottom: 10px">
        <div class="col-md-12 text-center">
          <button class="btn btn-gray" type="button">
            Все марки
          </button>
       </div>
    </div>
</div>

