.btn-red {
  color:white;
  background-color:#c50005;
}

.btn-red:hover {
 color:white;
 background-color: rgb(235, 59, 59);
}

.btn-white {
  background-color: white;
  border-color: #c50005;
}

.btn-white:hover {
  background-color: rgb(243, 243, 243);
}

a {
  color:black;
  text-decoration: none;
}

a:hover {
  color:#c50005;
  text-decoration: none;
}

.card-body {
  padding: 0.3em;
  border: 0em
}
